.container-1, .container-2, .container-3, .container-4{
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2,.flex-box-rps, .flex-box-pick-color,
 .flex-box-bj-row-3{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Challenge 1*/
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

/*Challenge 2*/
.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

/*Challenge 3*/
.flex-box-rps img{
    margin: 10px;
}

.flex-box-rps img:hover{
    box-shadow:0px 10px 50px rgba(37, 50, 233, 1);
}

/*Challenge 5*/
.container-5{
    margin: 0 auto;
    text-align: center;
}

.flex-box-bj-row-1{
    background-color: rgb(6, 77, 6);
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}

.flex-box-bj-row-1 div{
    flex: 1;
    height: 350px;
}

.flex-box-bj-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-box-bj-row-2{
    background-color: rgb(6, 77, 6);
}

.flex-box-bj-row-2 div{
    padding: 10px;
}

.flex-box-bj-row-2 button{
    margin: 10px;
}

table, tr, td, th{
    padding: 5px;
    border: 1px solid black;
}